<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0jUxbgey4pXBOfNGcX_HnXLi0fgppdyo</string>
	<key>GCM_SENDER_ID</key>
	<string>84143457907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ba-rbara-Menezes.challengeK</string>
	<key>PROJECT_ID</key>
	<string>todolist-klever-ios-jr</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-klever-ios-jr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84143457907:ios:32d7b58f3f9557dc20cc06</string>
</dict>
</plist>